name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Execute Gradle build
        run: chmod +x ./gradlew && ./gradlew assemble

      - name: Find Artifact
        run: find build -name "*-dev*.jar" -delete
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Plugin
          path: /build/libs/Origami-*.jar
          if-no-files-found: error

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: /build/libs/Origami-*.jar
